1 - Learning to acess data in a csv archive

In [1]:
import pandas as pd

archive = pd.read_csv("pessoas.csv")
display(archive)

      Nome  Idade  Peso  Altura
0  Jubileu     35    75    1.78
1    Maria     27    68    1.68
2    Pedro     18    85    1.71
3      Ana     22    70    1.75
4  Gustavo     45    73    1.63
5    Laura     29    67    1.68

2 - Filtering datas in a line

In [2]:
line = archive.loc[2]
print(line)

Nome      Pedro
Idade        18
Peso         85
Altura     1.71
Name: 2, dtype: object

3- Filtering a specific data in a sheet

In [9]:
data = archive.iloc[2, 0]
print(f"Name: {data}")

data2 = archive.iloc[5, 2]
print(f"Laura's Weight: {data2}")

Name: Pedro
Laura's Weight: 67

4 - Calculating Pedro's IMC

In [11]:
name1 = archive.iloc[2,0]
weight1 = archive.iloc[2,2]
height1 = archive.iloc[2,3]

imc = (weight1 / (height1 * height1))
print(f"{name1}'s IMC is: {imc}")
print(f"{name1}'s IMC is: {imc:.2f}")

Pedro's IMC is: 29.06877329776684
Pedro's IMC is: 29.07

5 - Laura's IMC

In [12]:
name2 = archive.iloc[5,0]
weight2 = archive.iloc[5,2]
height2 = archive.iloc[5,3]

imc = (weight2 / (height2 * height2))
print(f"{name2}'s IMC is: {imc:.2f}")

Laura's IMC is: 23.74

6 - Everyone IMC's

In [17]:


datas = {'Names': [], 'IMC': []}

for i in range(len(archive)):
    name = archive.iloc[i, 0]
    weight = archive.iloc[i, 2]
    height = archive.iloc[i, 3]

    imc = (weight / (height * height))
    imc = (f"{imc:.2f}")
    datas['Names'].append(name)
    datas['IMC'].append(imc)

df = pd.DataFrame(datas)
display(df)

#creating an excel file with the data in the dataframe
df.to_excel('IMC.xlsx')

     Names    IMC
0  Jubileu  23.67
1    Maria  24.09
2    Pedro  29.07
3      Ana  22.86
4  Gustavo  27.48
5    Laura  23.74